.posts {
  width: 700px;
  align-self: center;
  margin-bottom: 100px;
}

.post {
  margin-bottom: 30px;
  background: lighten($dgray, 3%);
  padding: 1px 10px;
  border-radius: 5px;
  border-left: $blue 3px solid;

  h4 {
    color: $blue;
  }

  p:nth-child(3) {
    color: $gray;
  }
}

.about {
  display: grid;
  place-items: center;
  margin-top: 40px;

  .about-txt {
    text-align: justify;
    padding: 20px;
    width: 400px;

    p:first-child {
      font-style: italic;
    }

    p:last-child {
      font-style: italic;
      color: $blue;
    }
  }

  a {
    color: #f9f9f9;
    transition: 0.3s;

    &:hover {
      color: $blue;
    }
  }
}
