.posts {
  width: 700px;
  align-self: center;
  margin-bottom: 100px;
}

.post {
  margin-bottom: 30px;
  background: lighten($dgray, 3%);
  padding: 1px 10px;
  border-radius: 5px;
  border-left: $blue 3px solid;

  h4 {
    color: $blue;
  }

  p:nth-child(3) {
    color: $blue;
    cursor: pointer;
  }
}
